.cardofconsultants {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  cursor: pointer;
}

/* Left and right card containers */
.consultantcards-left,
.consultantcards-right {
  flex-basis: 48%;
  position: relative;
}

/* Card styling */
.consultantcards {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 260px;
  width: auto;
}

/* informationofcard container */
.informationofcard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Image styling */
.informationofcard img {
  max-width: 90%;
  height: 100px;
  border-radius: 10px 10px 0 0;
}

/* Title styling */
.consultantcards h3 {
  color: #212ea0;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Text styling */
.consultantcards p {
  color: #505050;
  font-size: 16px;
  margin-bottom: 0;
}

/* Media queries */

@media (max-width: 900px) {
  .cardofconsultants {
    flex-direction: column;
  }
  .consultantcards-left,
  .consultantcards-right {
    flex-basis: 100%;
  }
  .consultantcards img {
    width: 90px;
    margin-bottom: 10px;
  }
  .consultantcards h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .consultantcards p {
    font-size: 14px;
  }
  .consultantcards {
    max-width: 440px;
  }
}
@media (max-width: 1400px) {
  .consultantcards img {
    width: 100px;
  }
  .consultantcards h3 {
    font-size: 26px;
  }
  .consultantcards p {
    font-size: 14px;
  }
}
