/* Consultants.css */

/* Main container */
.consultants {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* Left and right card containers */
.card-left,
.card-right {
    flex-basis: 48%;
    position: relative;
}

/* Card styling */
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 210px;
    width: auto;
}

/* Info container */
.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Image styling */
.info img {
    max-width: 90%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

/* Title styling */
.card h3 {
    color: #212ea0;
    font-size: 22px;
    margin-bottom: 10px;
}

/* Text styling */
.card p {
    color: #505050;
    font-size: 16px;
    margin-bottom: 0;
}

/* Media queries */
@media (max-width: 1400px) {
    .card img {
        width: 100px;
    }
    .card h3 {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .consultants {
        flex-direction: column;
    }
    .card-left,
    .card-right {
        flex-basis: 100%;
    }
    .info img {
        width: 90px;
        margin-bottom: 10px;
    }
    .card h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .card p {
        font-size: 14px;
    }
    .card {
        max-width: 440px;
    }
}
